/* shared style*/
body{
    font-family: 'Open Sans', sans-serif;
    font-family:'Lato',sans-serif;
}
.section-title{
     color: #181818;
     text-align: center;
     font-size: 35px;
     font-style: normal;
     font-weight: 700;
     
}
.section-description{
      color: #757575;
     text-align: center;
    
     font-size: 18px;
 
     font-weight: 400;
     line-height: 30px;
}

/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:40px 200px;
}

nav-title{
    color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border:0;
font-size: 20px;
font-style: normal;
font-weight: 700;
color: white;
padding:15px 35px;
}
nav > ul{
    display:flex;
    align-items: center;
}
nav li{
    list-style: none;

    margin-right:50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}
/*header related styles*/
.header{
    background-color:#FFF8F3 ;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: 0;
}
.banner{
    padding:30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner.profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size:45px;
    color:#474747;
    margin-bottom: px;
}
.banner.title{
    font-size: 85px;
font-style: normal;
font-weight: 700;
margin-top:5px;
margin-bottom: 20px;
}
.banner-desreption{
    margin-bottom: 15px;
}
/*main section styles */
  main{
    max-width: 1140px;
    margin: 40px auto;
  }
  main section{
    margin-top:130px;
  }
/* about section styles*/
.about{
    padding:130px;
    border-radius:10px;
    background:#FFF8F3;
   
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align:center;
}
.about-info >h4,p{
color: #757575;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
/*skills related stules */
 
#what-i-do-description{
    padding:30px 150px;
}
.skills-container{
    display:flex;
    gap:24px;
}
.skill-description{
    line-height: 28px;
    color:#757575;

}
.skill{
     padding:30px;
     border-radius: 5px;
     background: #FFF;
     box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/*resume section styles*/
.resume-column-title{
     color:  #474747;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}